
<h1>Communities</h1>

<table>
  <div>
    <% @communities.each do |community| %>

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title"><%= community.name %></h5>
              <p class="card-text"><%= community.description %></p>
              <%= link_to 'Show', community %>
              <%= link_to 'Edit', edit_community_path(community) %>
              <%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %>

            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</table>



